<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Proprietários</title>
</head>
<body>
    <h1>Lista de Proprietários</h1>
    <hr>
    <table border=4>
        <tr>
            <td>ID</td>
            <td>Nome</td>
            <td>CPF</td>
            <td>Data de nascimento</td>
            <td>Excluir</td>
            <td>Atualizar</td>
        </tr>
        {% for proprietario in prop %}
            <tr>
                <td>{{ proprietario.id }}</td>
                <td>{{ proprietario.nome }}</td>
                <td>{{ proprietario.cpf }}</td>
                <td>{{ proprietario.data_nascimento }}</td>
                <td><a href="/excluir_proprietario/{{ proprietario.id }}">Excluir</a></td>
                <td><a href="/atualizar_proprietario/{{ proprietario.id }}">Atualizar</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="/">Voltar</a>
</body>
</html>