<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Inquilinos</title>
</head>
<body>
    <h1>Lista de Inquilinos</h1>
    <hr>
    <table border=4>
        <tr>
            <td>ID</td>
            <td>Logradouro</td>
            <td>CEP</td>
            <td>Bairro</td>
            <td>Cidade</td>
            <td>Proprietário</td>
            <td>Excluir</td>
            <td>Atualizar</td>
        </tr>
        {% for imovel in imov %}
            <tr>
                <td>{{ imovel.id }}</td>
                <td>{{ imovel.logradouro }}</td>
                <td>{{ imovel.cep }}</td>
                <td>{{ imovel.bairro }}</td>
                <td>{{ imovel.cidade }}</td>
                <td>{{ imovel.proprietario_id }}</td>
                <td><a href="/excluir_imovel/{{ imovel.id }}">Excluir</a></td>
                <td><a href="/atualizar_imovel/{{ imovel.id }}">Atualizar</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="/">Voltar</a>
</body>
</html>