<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="/static/style.css">
      <title >IMOBILIÁRIA SANDIEGO</title>
   </head>
   <body>
      <hr/>
      <header>
         <h1 class="cor_title" align="center"> IMOBILIÁRIA SANDIEGO </h1>
      </header>
      <hr/>
      <section>  
         <header>
            <h2 align="center">IMÓVEIS CADASTRADOS</h2>
         </header>
         <table border="1" align="center">
            <thead>
               <tr class="thead">
                  <th>Logradouro</th>
                  <th>CEP</th>
                  <th>Bairro</th>
                  <th>Cidade</th>
                  <th>Proprietario</th>
               </tr>
            </thead>
            <tbody>
               {% for imovel in imovel %}
                  <tr align="center">
                     <td>{{ imovel.logradouro }}</td>
                     <td>{{ imovel.cep }}</td>
                     <td>{{ imovel.bairro }}</td>
                     <td>{{ imovel.cidade }}</td>
                     <td>{{ imovel.proprietario }}</td>
                     <th><a class="botao_acao" href = "{{ url_for('update_imovel', id=imovel.id) }}"> Atualizar</a></th>
                     <th><a class="botao_acao" href = "{{ url_for('delete_imovel', id=imovel.id) }}"> Excluir </a></th>
                  </tr>
               {% endfor %}
            </tbody>   
         </table><br>
      </section>
      <section align="center">
         <a class="botao_acao" href="{{ url_for('menu_imovel') }}"> Voltar </a>
      </section>
   </body>
</html>
