<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Aluguel</title>
</head>
<body>
    <h1>Lista de Aluguel</h1>
    <hr>
    <table border=4>
        <tr>
            <td>ID</td>
            <td>ID Imóvel</td>
            <td>ID Inquilino</td>
            <td>Excluir</td>
            <td>Atualizar</td>
        </tr>
        {% for aluguel in alug %}
            <tr>
                <td>{{ imovel.id }}</td>
                <td>{{ aluguel.id_imovel }}</td>
                <td>{{ aluguel.id_inquilino }}</td>
                <td><a href="/excluir_aluguel/{{ aluguel.id }}">Excluir</a></td>
                <td><a href="/atualizar_aluguel/{{ aluguel.id }}">Atualizar</a></td>
            </tr>
        {% endfor %}
    </table>
    <a href="/">Voltar</a>
</body>
</html>