<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>ALUGUÉIS CADASTRADOS</title>
    </head>
    <body>
        <hr/>
        <header>
            <h1 class="cor_title" align="center"> IMOBILIÁRIA SANDIEGO </h1>
        </header>
        <hr/>
        <section>  
            <header>
                <h2 align="center">ALUGUÉIS CADASTRADOS</h2>
            </header>
            <table border="1" align="center">
                <thead>
                    <tr class="thead">
                        <th>ID Imóvel</th>
                        <th>ID Inquilino</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluguel in aluguel %}
                        <tr align="center">
                            <td>{{ aluguel.id_imovel }}</td>
                            <td>{{ aluguel.id_inquilino }}</td>
                            <th><a class="botao_acao" href = "{{ url_for('update_aluguel', id=aluguel.id) }}"> Atualizar</a></th>
                            <th><a class="botao_acao" href = "{{ url_for('delete_aluguel', id=aluguel.id) }}"> Excluir </a></th>
                        </tr>
                    {% endfor %}
                </tbody>   
            </table><br>
        </section>
        <section align="center">
            <a class="botao_acao" href="{{ url_for('menu_aluguel') }}"> Voltar </a>
        </section>
    </body>
</html>

