<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>MENU IMOBILIARIA</title>
    </head>
    <body>
        <hr/>
            <h1 class="cor_title" align="center">IMOBILIÁRIA SANDIEGO</h1>
        <hr/>
        <section>
            <header>
                <h2 align="center">HOME</h2>
            </header>
            <nav align="center">
                <a class="box" href="{{ url_for('menu_inquilino') }}">Inquilino</a>
                <a class="box" href="{{ url_for('menu_imovel') }}">Imóvel</a>
                <a class="box">Proprietário</a>
                <a class="box">Aluguel</a>
            </nav> 
        </section>
    </body>
</html>