<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/style.css">
        <title>MENU INQUILINO</title>
    </head>
    <body>
        <hr/>
            <h1 class="cor_title" align="center">IMOBILIÁRIA SANDIEGO</h1>
        <hr/>
        <section>
            <header>
                <h2 align="center">MENU INQUILINO</h2>
            </header>
            <form align="center"> 
                <a class="box" href= "{{ url_for('cadastro_inquilino') }}">Cadastrar Inquilino</a>
                <a class="box" href= "{{ url_for('lista_inquilino') }}">Listar Inquilino</a><br><br>
            </form>
        </section>
        <section align="center">
            <a class="botao_acao" href="{{ url_for('main') }}"> Voltar </a>
        </section>
    </body>
</html>